
.header{
  background-color: var(--primaryBlue);
  padding:8px 50px;
  padding-right:10px;
  width:100%;
}
.row{
  margin: 0 !important;
}
.headerLinks ul{
  display:flex;
  justify-content:flex-end;
  align-items: center;

}
.headerLinks ul li{
 list-style-type: none;
 margin:0px 20px;
}
.headerLinks ul> li >a{
  color:white;
  text-decoration: none;
}
.headerLinks ul> li >a:hover ,.filiere:hover{
  color:var(--secondaryBlue);
}
.logo>a>img{
  height:60px;
  width: 60px;
  
}

.adminButton{
  border:none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding:8px 15px;
  background-color: var(--secondaryBlue);
  color:white;
  border-radius: 8px;
}

.adminButton:hover{
  background-color: rgb(13, 11, 48);
}

.dropdown{
  background-color:transparent !important;
  padding:0 !important;

  margin:0 !important;
  box-shadow:none !important;
  border:none !important;
}

@media (max-width:500px) {


 .header{
   padding:8px 8px;
   
 }

 .adminButton{
   transform: scale(0.8);
  
 }

 .headerLinks ul li{
  list-style-type: none;
  margin:0px 13px;
 }
}